---
layout: default
block_categories:
  - headings
  - links
  - lists
  - text
  - globals
  - visualizations
  - dashboard
  - dataset
  - user
  - related
  - wizard
  - topten
  - comments
---

<ul>
{% for cat in page.block_categories %}
  <li>
    <a href="#{{cat}}">{{cat | capitalize}}</a>
  </li>
{% endfor %}
</ul>

{% for cat in page.block_categories %}
  <a id="{{cat}}"><h2>{{cat | capitalize}}</h2></a>

  {% for p in site.blocks %}
  {% if p.category == cat %}

  <tt>{{p.relative_path | remove: '_blocks/' | remove: 'elements/' | remove: 'patterns/' | remove: '.html' | remove: cat | remove: '/'}}</tt>
  {{p.content}}

  <details>
    <summary>Code</summary>
  {% highlight html %}
  {{p.content }}
  {% endhighlight %}

  </details>

  <hr/>

  {% endif %}
  {% endfor %}
{% endfor %}
