---
layout: drupal-page
---

<wizard-progress-bar active-step="Datasets" class="ng-scope">
<div ng-view="">
  <h2 class="ng-scope">Visualisation builder: select visualisation type</h2>
  <wizard-progress-bar active-step="Datasets" class="ng-scope">
  <!-- ngRepeat: step in steps -->
  <div class="wizard-box ng-scope ng-binding complete" ng-class="{active: activeStep == step}" ng-repeat="step in steps"><span class="glyphicon glyphicon-ok-sign"></span>1. Select datasets</div>
  <div class="wizard-box ng-scope ng-binding active" ng-class="{active: activeStep == step}" ng-repeat="step in steps">2. Select visualisation type</div>
  <div class="wizard-box ng-scope ng-binding" ng-class="{active: activeStep == step}" ng-repeat="step in steps">3. Select data columns</div>
  <div class="wizard-box ng-scope ng-binding" ng-class="{active: activeStep == step}" ng-repeat="step in steps">4. Edit visualisation</div>
  <div class="wizard-box ng-scope ng-binding" ng-class="{active: activeStep == step}" ng-repeat="step in steps">5. Publish visualisation</div>
  </wizard-progress-bar>
  <div class="buttons ng-scope">
    <a href="/wizard-step-1">
    <div class="btn btn-default pull-left"><span class="glyphicon glyphicon-chevron-left"></span> Back</div>
    </a>
  </div>
  <div class="buttons ng-scope">
    <a href="/wizard-step-3">
    <div class="btn btn-primary pull-right">Select data columns</div>
    </a>
  </div>
  <div class="content ng-scope">
    <!-- %p Browse datasets: -->
    <div class="list-group">
      <!-- ngRepeat: dataset in datatables | orderBy:'label' -->
    </div>
  </div>
  <div class="ng-scope">
    <div class="selected-data">
      <h4>Select the type of visualisation you wish to plot</h4>
      <hr>
      <!-- ngRepeat: dataset in datatables | filter: {selected: true} -->
    </div>
  </div>
</div>
</wizard-progress-bar>

