    <!-- Fixed navbar -->
    <header class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/home">COD</a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ site.baseurl }}/home"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="{{ site.baseurl }}/datasets">Datasets</a></li>
            <li><a href="{{ site.baseurl }}/visualizations">Visualisations</a></li>
            <li><a href="{{ site.baseurl }}/dashboards">Dashboards</a></li>
            <li><a href="{{ site.baseurl }}/data-stories">Data stories</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            <li><a href="{{ site.baseurl }}/about">About</a></li>
            <li><a href="{{ site.baseurl }}/help">Help</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus-sign"></span> Add <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Dataset</a></li>
                <li><a href="{{ site.baseurl }}/wizard-step-1">Visualisation</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Data story</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}/user-ggibson"><img src ="../images/user-avatar-gilesgibson.png"> Giles Gibson</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </header>
